@import './mixins';
@import './variables';

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  @include adaptiv-value('font-size', 48, 24, 0);
  @include adaptiv-value('line-height', 56, 30, 0);
  text-transform: uppercase;
}

.button{
  @include adaptiv-value('padding-top', 20, 10, 0);
  @include adaptiv-value('padding-bottom', 20, 10, 0);
  border-radius: 3px;
  background-color: $pink;
  font-weight: 700;
  @include adaptiv-value('font-size', 18, 14, 0);
  @include adaptiv-value('line-height', 21, 17, 0);
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
  color:#fff;

  &:hover {
    background-color: #DF59CA;
 }

 @include breakpoint(768px) {
    background-color: #DF59CA;
 }

}