@import './mixins';

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 700;
  @include adaptiv-value('font-size', 48, 24, 0);
  @include adaptiv-value('line-height', 56, 30, 0);
  text-transform: uppercase;
}
