@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

// глобальные стили
@import './global.scss';

body {
   font-family: 'Roboto';
   font-weight: 400;
   color: #fff;
   @include adaptiv-value('font-size', 16, 12, 0);
   @include adaptiv-value('line-height', 19, 15, 0);
}

.header {
   display: none;
   background-color: #F6F1FC;

   @include breakpoint(768px) {
      display: block;
   }

   // .header__row

   &__row {
      background-color: #C09BE9;
      position: fixed;
      width: 100%;


      .social {
         display: block;

         img {
            @include adaptiv-value('height', 70, 25, 0);
         }
      }
   }

   // .header__img

   &__img {
      @include adaptiv-value('padding-top', 100, 50, 0);
      @include adaptiv-value('padding-bottom', 100, 50, 0);
   }
}



.intro {
   @include adaptiv-value('padding-top', 60, 30, 0);
   @include adaptiv-value('padding-bottom', 120, 40, 0);
   background-image: url('./../images/cottage1.jpg');
   background-size: cover;

   // .intro__row

   &__row {

      &:first-child {
         grid-template-columns: repeat(3, 1fr) 255px;
         grid-template-rows: repeat(2, 60px);
         grid-auto-rows: 60px;

         @include breakpoint(1024px) {
            grid-template-columns: repeat(3, 1fr) 150px;
         }

         @include breakpoint(768px) {
            display: none;
         }

         p {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            @include adaptiv-value('font-size', 18, 14, 0);

            font-weight: 700;

            &:nth-of-type(1) {
               background-color: $purple;
            }

            &:nth-of-type(2) {
               background-color: #F78B48;
            }

            &:nth-of-type(3) {
               background-color: #589DC4;
            }

            &:nth-of-type(4) {
               background-color: #9CCC3D;
            }

            &:nth-of-type(5) {
               background-color: #DF59CA;
            }

            &:nth-of-type(6) {
               background-color: #FFB54E;
            }
         }

         div {
            grid-row: 1/span 2;
            grid-column: 4/5;
            background-color: #fff;

            img {}
         }
      }

      &:last-child {
         align-items: flex-start;

         .intro__column {
            &:first-child {
               @include adaptiv-value('padding-top', 100, 50, 0);
               @include adaptiv-value('padding-bottom', 100, 50, 0);

               h1 {
                  max-width: 740px;
                  font-style: normal;
                  font-weight: 700;
                  @include adaptiv-value('font-size', 64, 40, 0);
                  @include adaptiv-value('line-height', 75, 50, 0);
                  text-transform: uppercase;
                  margin-bottom: 5px;
               }

               h2 {
                  max-width: 500px;
                  font-family: 'Tahoma';
                  font-style: normal;
                  font-weight: 400;
                  @include adaptiv-value('font-size', 24, 18, 0);
                  @include adaptiv-value('line-height', 29, 21, 0);
                  @include adaptiv-value('margin-bottom', 75, 55, 0);
               }

               button {
                  display: block;
                  @include adaptiv-value('padding-left', 20, 10, 0);
                  @include adaptiv-value('padding-right', 20, 10, 0);

                  @include breakpoint(768px) {
                     margin: 0 auto;
                  }
               }

            }

            &:last-child {
               background-color: $purple;
               flex: 0 0 255px;
               font-size: 12px;
               line-height: 20px;
               padding-bottom: 20px;

               @include breakpoint(1024px) {
                  flex: 0 0 150px;
               }

               @include breakpoint(768px) {
                  display: none;
               }

               h2 {
                  padding: 10px;
                  font-size: 18px;
                  background-color: #DF59CA;
                  margin-bottom: 20px;
               }

               .intro__column-row {
                  padding: 0px 10px;
                  margin-bottom: 10px;

                  &:last-of-type {
                     margin-bottom: 20px;
                  }

                  span {
                     big {
                        font-size: 14px;
                     }
                  }

               }

               .intro__time {
                  margin-bottom: 20px;
                  padding: 0px 10px;
                  margin-bottom: 30px;

               }

               p {
                  padding: 10px 0px;
                  margin: 0px 10px;
                  border: 1px solid #fff;
                  text-align: center;
                  text-transform: uppercase;

                  big {
                     font-size: 16px;
                  }
               }
            }
         }
      }
   }
}

.cottage {
   font-family: 'Tahoma';
   text-align: center;

   // .cottage__top

   &__top {
      @include adaptiv-value('padding-top', 90, 45, 0);
      @include adaptiv-value('padding-bottom', 180, 60, 0);
      background-color: $purple;

      h2 {
         margin-bottom: 15px;
      }

      h3 {}
   }

   // .cottage__bottom

   &__bottom {}

   // .cottage__row

   &__row {
      transform: translate(0, -50%);
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(2, auto);
      @include adaptiv-value('row-gap', 30, 15, 0);
      @include adaptiv-value('column-gap', 70, 40, 0);
      grid-auto-flow: column;
      justify-content: center;

      @include breakpoint(768px) {
         grid-template-columns: repeat(3, 100px);
      }

      @include breakpoint(425px) {
         grid-template-columns: repeat(3, 70px);
         transform: translate(0, 0);
         margin: 30px 0px;
      }

      h3 {
         color: #6C6577;
      }
   }

   // .cottage__row-img

   &__row-img {
      display: flex;
      justify-content: center;

      img {
         border-radius: 50%;
      }
   }

   // .cottage__img

   &__img {
      max-width: 555px;
      margin: 0 auto;
   }
}

.types {
   h2 {
      @include adaptiv-value('margin-bottom', 50, 25, 0);
   }

   // .types__row

   &__row {
      grid-template-columns: repeat(2, 1fr);
      @include adaptiv-value('gap', 30, 15, 0);


      @include breakpoint(768px) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   // .types__column

   &__column {
      @include adaptiv-value('padding-top', 60, 20, 0);
      @include adaptiv-value('padding-bottom', 60, 20, 0);
      @include adaptiv-value('padding-left', 60, 20, 0);
      @include adaptiv-value('padding-right', 60, 20, 0);
      border-radius: 10px;
      background-size: cover;
      background-repeat: no-repeat;

      &:nth-child(1) {
         @include adaptiv-value('padding-top', 90, 20, 0);
         @include adaptiv-value('padding-bottom', 20, 30, 0);
         @include adaptiv-value('padding-left', 90, 20, 0);
         @include adaptiv-value('padding-right', 60, 20, 0);
         grid-column: 1/3;
         background-image: url('./../images/types1.jpg'), linear-gradient(78.6deg, rgba(50, 34, 67, 0.8) 27.75%, rgba(50, 34, 67, 0) 96.1%);

         @include breakpoint(768px) {
            grid-column: 1/2;
         }

         .types__item {
            max-width: 400px;
         }
      }

      &:nth-child(2) {
         background-image: url('./../images/types1.jpg'), linear-gradient(78.6deg, rgba(50, 34, 67, 0.8) 27.75%, rgba(50, 34, 67, 0) 96.1%);

      }

      &:nth-child(3) {
         background-image: url('./../images/types1.jpg'), linear-gradient(78.6deg, rgba(50, 34, 67, 0.8) 27.75%, rgba(50, 34, 67, 0) 96.1%);

      }

      &:nth-child(4) {
         background-image: url('./../images/types1.jpg'), linear-gradient(78.6deg, rgba(50, 34, 67, 0.8) 27.75%, rgba(50, 34, 67, 0) 96.1%);

      }

      &:nth-child(5) {
         background-image: url('./../images/types1.jpg'), linear-gradient(78.6deg, rgba(50, 34, 67, 0.8) 27.75%, rgba(50, 34, 67, 0) 96.1%);

      }
   }

   // .types__item

   &__item {
      max-width: 300px;

      h3 {
         font-weight: 700;
         @include adaptiv-value('font-size', 36, 24, 0);
         @include adaptiv-value('line-height', 42, 30, 0);
         @include adaptiv-value('margin-bottom', 10, 7, 0);
         text-transform: uppercase;
      }

      h4 {
         @include adaptiv-value('margin-bottom', 10, 7, 0);
         @include adaptiv-value('line-height', 24, 18, 0);
         @include adaptiv-value('margin-bottom', 28, 23, 0);

         big {
            @include adaptiv-value('font-size', 36, 24, 0);
            @include adaptiv-value('line-height', 42, 30, 0);
            color: $pink;
            font-weight: 700;
         }

         span {
            @include adaptiv-value('font-size', 24, 18, 0);
            @include adaptiv-value('line-height', 34, 25, 0);

         }
      }

      p {
         @include adaptiv-value('margin-bottom', 45, 20, 0);
      }

      .button {
         @include adaptiv-value('padding-left', 37, 20, 0);
         @include adaptiv-value('padding-right', 37, 20, 0);
      }
   }
}

.calculation {
   color: #5B5B5B;

   // .calculation__row

   &__row {
      grid-template-columns: repeat(2, 1fr);
      @include adaptiv-value('column-gap', 30, 15, 0);
      background: #FFFFFF;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      @include adaptiv-value('padding-top', 70, 30, 0);
      @include adaptiv-value('padding-bottom', 70, 30, 0);
      @include adaptiv-value('padding-left', 70, 30, 0);
      @include adaptiv-value('padding-right', 70, 30, 0);
      @include adaptiv-value('margin-bottom', 70, 40, 0);


      @include breakpoint(768px) {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 0px;
         row-gap: 30px;
      }
   }

   // .calculation__column

   &__column {}

   // .calculation__column-item

   &__column-item {
      h2 {
         @include adaptiv-value('margin-bottom', 15, 10, 0);
      }

      p {

         @include adaptiv-value('margin-bottom', 45, 20, 0);
         @include adaptiv-value('font-size', 28, 18, 0);
         @include adaptiv-value('line-height', 33, 24, 0);

      }

      button {
         @include adaptiv-value('padding-left', 37, 15, 0);
         @include adaptiv-value('padding-right', 37, 15, 0);
      }
   }

   // .calculation__column-img

   &__column-img {
      transform: scale(1, 1.6);

      @include breakpoint(768px) {
         transform: scale(1, 1);
      }
   }

   h3 {
      @include adaptiv-value('font-size', 34, 24, 0);
      @include adaptiv-value('line-height', 40, 27, 0);
      font-weight: 700;
      text-align: center;

      &:first-of-type {
         color: $purple;
         margin-bottom: 10px;
      }
   }
}

.non-standard {
   background-color: $purple;


   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 70, 30, 0);
   }

   // .non-standard__row

   &__row {
      gap: 200px;
      flex-wrap: wrap;
      font-family: 'Tahoma';

      @include breakpoint(1024px) {
         column-gap: 100px;
         row-gap: 50px;
      }

      @include breakpoint(425px) {
         column-gap: 0px;
      }

      &:last-child {
         margin-bottom: 0px;
      }
   }

   // .non-standard__column

   &__column {
      flex: 0 0 calc(33% - 200px);

      @include breakpoint(1024px) {
         flex: 0 0 calc(50% - 100px);
      }

      @include breakpoint(425px) {
         flex: 0 0 calc(100%);
      }
   }

   // .non-standard__column-item

   &__column-item {}

   // .non-standard__column-img

   &__column-img {
      display: flex;
      justify-content: center;
      @include adaptiv-value('margin-bottom', 50, 20, 0);
   }

   // .non-standard__column-title

   &__column-title {
      text-align: center;
   }
}

.rehau {
   color: #5B5B5B;

   h2 {
      @include adaptiv-value('margin-bottom', 70, 30, 0);
      text-align: center;
   }

   // .rehau__row

   &__row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 30px;
      grid-template-areas:
         "a b"
         "c c";

      @include breakpoint(1024px) {
         grid-template-columns: 1fr;
         grid-template-areas:
            "b"
            "c"
            "a";
      }
   }

   // .rehau__column

   &__column {
      &:nth-of-type(1) {
         grid-area: a;
      }

      &:nth-of-type(2) {
         grid-area: b;

         @include breakpoint(1024px) {
            margin-bottom: 60px;
         }

         @include breakpoint(768px) {
            margin-bottom: 40px;
         }
      }

      &:nth-of-type(3) {
         grid-area: c;

         @include breakpoint(1024px) {
            margin-bottom: 100px;
         }

         @include breakpoint(768px) {
            margin-bottom: 50px;
         }

         @include breakpoint(425px) {
            margin-bottom: 40px;
         }
      }
   }

   // .rehau__column-item

   &__column-item {}

   // .rehau__column-img

   &__column-img {
      @include adaptiv-value('margin-bottom', 25, 10, 0);


      @include breakpoint(1024px) {
         display: flex;
         justify-content: center
      }

   }

   // .rehau__column-row

   &__column-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      @include adaptiv-value('gap', 30, 15, 0);

   }

   // .rehau__column-column

   &__column-column {}

   // .rehau__bottom-text

   &__bottom-text {
      font-weight: 700;
      text-align: center;
      @include adaptiv-value('margin-bottom', 15, 7, 0);
   }

   button {
      display: block;
      margin: 0 auto;
      @include adaptiv-value('padding-left', 37, 15, 0);
      @include adaptiv-value('padding-right', 37, 15, 0);
   }
}

.lamination {
   color: #5B5B5B;

   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 25, 15, 0);
   }

   h3 {
      @include adaptiv-value('margin-bottom', 40, 25, 0);
   }

   // .lamination__row

   &__row {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      @include adaptiv-value('margin-bottom', 90, 40, 0);
      @include adaptiv-value('column-gap', 100, 50, 0);
      @include adaptiv-value('row-gap', 40, 20, 0);
   }

   // .lamination__column

   &__column {}

   // .lamination__column-item

   &__column-item {
      h4 {
         text-align: center;
      }
   }

   // .lamination__column-img

   &__column-img {
      @include adaptiv-value('margin-bottom', 20, 10, 0);
      display: flex;
      justify-content: center;
   }

   // .lamination__block

   &__block {
      max-width: 450px;
      background-color: $purple;
      @include adaptiv-value('padding-top', 25, 10, 0);
      @include adaptiv-value('padding-right', 25, 10, 0);
      @include adaptiv-value('padding-bottom', 25, 10, 0);
      @include adaptiv-value('padding-left', 25, 10, 0);
      margin: 0 auto;
      text-decoration: underline;
      color: #fff;
      text-align: center;
   }
}

.double-glazing {
   color: #5B5B5B;

   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 35, 20, 0);
   }

   // .double-glazing__row

   &__row {


      &:first-of-type {
         @include adaptiv-value('gap', 12, 6, 0);
         justify-content: center;
         flex-wrap: wrap;
         @include adaptiv-value('margin-bottom', 100, 50, 0);

         .double-glazing__column-item {
            border-radius: 29px;
            border: 1px solid #9D62DD;
            background: #F6F1FC;
            @include adaptiv-value('padding-top', 12, 6, 0);
            @include adaptiv-value('padding-right', 30, 15, 0);
            @include adaptiv-value('padding-bottom', 12, 6, 0);
            @include adaptiv-value('padding-left', 30, 15, 0);
            transition: 0.1s;
            cursor: pointer;

            &:hover {
               background-color: $purple;
               border: 1px solid $purple;
               color: #FFFFFF;
            }

            &--active {
               background-color: $purple;
               border: 1px solid $purple;
               color: #FFFFFF;
            }
         }
      }

      &:last-of-type {
         grid-template-columns: repeat(2, 1fr);
         @include adaptiv-value('column-gap', 30, 15, 0);

         @include breakpoint(768px) {
            grid-template-columns: repeat(1, 1fr);
         }

         .double-glazing__column {
            &:first-child {
               @include breakpoint(768px) {
                  margin-bottom: 60px;
               }
            }
         }

         .double-glazing__column-item {

            h3 {
               color: $purple;
               @include adaptiv-value('font-size', 24, 18, 0);
               @include adaptiv-value('line-height', 28, 22, 0);
               text-transform: uppercase;
               @include adaptiv-value('margin-bottom', 40, 20, 0);
            }

            ul {
               @include adaptiv-value('margin-bottom', 50, 30, 0);

               li {
                  position: relative;
                  @include adaptiv-value('margin-bottom', 20, 10, 0);
                  @include adaptiv-value('padding-left', 35, 15, 0);


                  &::before {
                     content: '';
                     position: absolute;
                     left: 0;
                     top: 3px;
                     display: inline-block;
                     @include adaptiv-value('width', 10, 7, 0);
                     @include adaptiv-value('height', 10, 7, 0);
                     background-color: $purple;
                     border-radius: 100%;
                  }

                  &:last-child {
                     margin-bottom: 0px;
                  }

               }
            }

            button {
               @include adaptiv-value('padding-left', 40, 20, 0);
               @include adaptiv-value('padding-right', 40, 20, 0);
               display: block;

               @include breakpoint(768px) {
                  margin: 0 auto;
               }
            }

         }
      }
   }
}

.fitting {
   color: #5B5B5B;

   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 15, 7, 0);
   }

   h3 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 35, 20, 0);
   }

   // .fitting__row

   &__row {}

   // .fitting__row

   &__row {
      grid-template-columns: repeat(2, 1fr);
      @include adaptiv-value('column-gap', 30, 15, 0);

      @include breakpoint(768px) {
         grid-template-columns: repeat(1, 1fr);
      }

   }

   // .fitting__column

   &__column {
      &:first-child {
         @include breakpoint(768px) {
            margin-bottom: 60px;
         }
      }
   }

   // .fitting__column-item

   &__column-item {

      ul {
         @include adaptiv-value('margin-bottom', 50, 30, 0);

         li {
            position: relative;
            @include adaptiv-value('margin-bottom', 20, 10, 0);
            @include adaptiv-value('padding-left', 35, 15, 0);


            &::before {
               content: '';
               position: absolute;
               left: 0;
               top: 3px;
               display: inline-block;
               @include adaptiv-value('margin-right', 35, 15, 0);
               @include adaptiv-value('width', 10, 7, 0);
               @include adaptiv-value('height', 10, 7, 0);
               background-color: $purple;
               border-radius: 100%;
            }

            &:last-child {
               margin-bottom: 0px;
            }

         }
      }

      button {
         @include adaptiv-value('padding-left', 40, 20, 0);
         @include adaptiv-value('padding-right', 40, 20, 0);
         display: block;
         margin: 0 auto;
      }

   }

}

.examples {
   color: #5B5B5B;

   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 60, 30, 0);
   }

   // .examples__row

   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include adaptiv-value('margin-bottom', 60, 30, 0);


      @include breakpoint(768px) {
         grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint(425px) {
         grid-template-columns: repeat(1, 1fr);
      }
   }

   // .examples__column

   &__column {}

   // .examples__column-item

   &__column-item {}

   // .examples__column-img

   &__column-img {
      height: 100%;

      img {
         width: 100%;
         height: 100%;
      }
   }

   // .examples__bottom

   &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
         text-decoration: underline;
         @include adaptiv-value('margin-bottom', 30, 15, 0);

      }
   }

   // .examples__bottom-img

   &__bottom-img {
      @include adaptiv-value('width', 40, 20, 0);
      @include adaptiv-value('height', 40, 20, 0);
   }


}

.salon {
   color: #5B5B5B;


   h2 {
      text-align: center;
      @include adaptiv-value('margin-bottom', 60, 30, 0);
   }

   h3 {
      @include adaptiv-value('font-size', 28, 18, 0);
      @include adaptiv-value('line-height', 50, 27, 0);

      &:first-of-type {
         @include adaptiv-value('margin-bottom', 15, 7, 0);

      }
   }

   h4 {
      @include adaptiv-value('font-size', 22, 16, 0);
      @include adaptiv-value('line-height', 33, 22, 0);

      @include adaptiv-value('margin-bottom', 30, 15, 0);
      @include adaptiv-value('padding-left', 15, 0, 0);
   }

   h5 {
      @include adaptiv-value('font-size', 17, 14, 0);
   }

   ul {
      li {
         position: relative;
         @include adaptiv-value('margin-bottom', 10, 5, 0);
         @include adaptiv-value('padding-left', 35, 15, 0);


         &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 6px;
            display: inline-block;
            // @include adaptiv-value('margin-right', 35, 15, 0);
            @include adaptiv-value('width', 7, 4, 0);
            @include adaptiv-value('height', 7, 4, 0);
            background-color: gray;
            border-radius: 100%;
         }

         &:last-child {
            margin-bottom: 0px;
         }

         a {
            color: #5B5B5B;
         }

      }
   }


   iframe {
      width: 100%;
      height: 580px;
   }

   // .salon__row

   &__row {
      grid-template-columns: 1fr 2fr 1fr 1fr;
      @include adaptiv-value('gap', 30, 15, 0);
      background-color: #EBE0F8;

      @include breakpoint(768px) {
         grid-template-columns: repeat(1, 1fr);
         row-gap: 10px;
         padding-bottom:30px;
      }
   }

   // .salon__column

   &__column {
   padding: 20px 0px;
   
      @include breakpoint(768px) {
         padding: 0px 20px;
      }
        
            &:first-child {
               display: flex;
               flex-direction: column;
               justify-content: center;
               text-align: center;
               background-color: #D3C9DF;


               @include breakpoint(768px) {
                padding: 60px 30px;
               }

               h3 {
                  font-weight: 700;
               }
            }
    
            &:last-child {
               align-self: start;
               background-color: $purple;
               padding: 0px;
               @include adaptiv-value('padding-bottom', 20, 10, 0);
               font-size: 12px;
               line-height: 20px;
               color: #fff;

               @include breakpoint(768px) {
                  display: none;
               }

               .salon__column-top{
                  background-color: #DF59CA;
                  margin-bottom: 20px;
                  @include adaptiv-value('padding', 15, 7, 0);
               }

               .salon__column-content{
                  @include adaptiv-value('padding', 15, 7, 0);
               }

               .salon__column-row {
                  margin-bottom: 20px;

                  span {
                     big {
                        font-size: 14px;
                     }
                  }

               }

               .salon__time {
                  margin-bottom: 20px;
                  margin-bottom: 30px;

               }

               .salon__column-bottom {
                  padding: 10px 0px;
                  border: 1px solid #fff;
                  text-align: center;
                  text-transform: uppercase;

                  big {
                     font-size: 16px;
                  }
               }

            }
      
   }

   // .salon__column-img

   &__column-img {
      @include adaptiv-value('margin-bottom', 30, 15, 0);
      display: flex;
      justify-content: center;
   }



}

.footer {
   background-color: $purple;

   // .footer__row

   &__row {
      display: flex;
      @include adaptiv-value('gap', 40, 15, 0);
      justify-content: center;
      @include adaptiv-value('margin-bottom', 40, 20, 0);
      flex-wrap: wrap;

      @include breakpoint(768px){
         flex-direction: column;
         align-items: center;
      }
   }

   &{
      .container>p{
         max-width: 800px;
         margin: 0 auto;
      }
    
   }
}
.section {
}
