@import './variables';

// миксины
@import './_mixins.scss';

// обнуление стилей
@import './reset.scss';

// контейнер
@import './container.scss';

// оболочка
@import './wrapper.scss';

// контент
@import './content.scss';

// шрифты
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// глобальные стили
@import './global.scss';
