<header class="header">

   <div class="header__row ">
      <div class="container d-flex jc-sb">
         <a class="social" href="#"><img src="./../assets/images/tel.jpg" alt="позвонить"></a>
         <a class="social" href="#"><img src="./../assets/images/mail.jpg" alt="почта"></a>
         <a class="social" href="#"><img src="./../assets/images/wk.jpg" alt="вконтакте"></a>
         <a class="social" href="#"><img src="./../assets/images/inst.jpg" alt="инстаграм"></a>
      </div>
   </div>
   <div class="header__img d-flex ai-c jc-c">
      <img src="./../assets/images/schema.jpg" alt="схема">
   </div>

</header>